/* Application-wide Styles */
*{
  margin: 0px;
  padding: 0px;
  font: sans-serif;
  box-sizing: border-box
}

a{
  color: #222222;
  text-transform: none;
  text-decoration: none;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 0px;
  }
  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  .container{
    width: 1024px;
    margin: auto
  }

  .navigation{
    width: 100%;
    height: 50px;
    line-height: 30px;
    padding: 10px 15px;
    background: #eeeeee;
    margin-bottom: 50px; 
  }

  .navigation a, .navigation .title{
    height: 30px;
    line-height: 14px;
    padding: 8px 10px;
    background: skyblue;
    text-transform: none;
    text-decoration: none;
    color: #ffffff;
    margin: 0px 5px;
  }

  .navigation a:hover{
    background: mediumaquamarine;
  }

  .navigation .title{
    margin-right: 20px;
    background: transparent;
    color: #369;
    font-weight: bold
  }

  .navigation .title:hover{
    background: transparent
  }
  
  .spaced{
    margin: 10px 10px 15px;
  }

  .spaced-v{
    margin: 10px 0px 15px;
  }

  .form, .btn{
    height: 30px;
    line-height: 14px;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    font-family: sans-serif;
    background: #eeeeee;
    color: #222222;
    transition: .3s;
  }

  .form:focus{
    background: #ffffff;
    border-color: #aaaaaa;
  }

  .btn{
    cursor: pointer;
  }

  .btn:hover{
    background: #ffffff;
  }